@keyframes gradient_animation {
    0% {
        background-position: 0
    }
    to {
        background-position: 100%
    }
}

.presentation-section{
    background: radial-gradient(90% 106.38% at 122.89% 49.97%, #00f 0%, #0099ff 15%, #007acc 30%, #005c99 45%, #004080 60%, #003366 75%, #00264d 90%, #001a33 100%);
    color: #fff;
    background-size: 150%;
    animation: gradient_animation 5s ease-in-out 0s infinite alternate;

    > .presentation-section__img{
        width: 20rem;
        height: 20rem;
        border-radius: 100%;
        background-color: red;
        object-fit: cover;
    }
}