@use '../../assets/css/general-styles' as general;

.ityped-cursor {
    opacity: 1;
    border-right: 0.2rem solid;
    margin-left: 0.5rem;
    color: var(--orangeColor);
    font-size: 2.5rem;
}


.presentation_section{
    position: relative;
    overflow: hidden;
    // @include general.background-gradient;

        img{
            margin-top: 8.5%;
        }

        h1{ 
            font-size: 2rem;
            color: #fff;
            font-weight: 500;
        }

        h2{
            display: inline-block;
            color: var(--orangeColor);
            margin-block-end: 0;
            font-size: 2.5rem;
        }

        #videoPresentation{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -2;
            object-fit: cover;
        
        }

        p:nth-child(1){
            color: #fff;
            font-weight: 500;
        }

        p:nth-child(2){
            color: var(--yellowColor);
            font-weight: 400;
        }
}

.presentation-section::after{
   position: absolute;
   content: " ";
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: var(--darkBlueColor);
   opacity: 0.4;
   z-index: -1;
}
